.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
README.md
storage/*.key
bootstrap/cache/*.php
vendor
node_modules
public/storage
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.phpunit.result.cache
build
docker-compose.yml
docker-compose.*.yml